@page "/clientside/{Index:int}"

<PageTitle>Client-side C# | The Blazor Act</PageTitle>

<h3>@clientSideFeature?.Feature</h3>

<Pin InnerText="@clientSideFeature?.Description"></Pin>

<div class="row ps-3 pb-2">
@if (clientSideFeature?.Details?.Count() > 0)
{
    <ul>
    @foreach (var entry in clientSideFeature.Details)
    {
        <li class="py-1">@entry</li>
    }
    </ul>
}
</div>
<a type="button" class="btn btn-outline-primary" href="/clientside">Go Back</a>