@page "/clientside"

<PageTitle>Client-side C# | The Blazor Act</PageTitle>

<h3>Writing client-side C# code</h3>

<Pin InnerText="The UI is rendered as HTML and CSS for wide browser support, including mobile browsers."></Pin>

<table class="table table-hover align-middle">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Feature</th>
      <th scope="col">Description</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
  @for (var index = 0; index < clientSideFeatures.Count; index++)
  {
    var line = index + 1;
    <tr>
      <th scope="row">@line</th>
      <td>@clientSideFeatures[index]?.Feature</td>
      <td>@clientSideFeatures[index]?.Description</td>
      <td><a class="btn btn-link" href=@($"/clientside/{index}")>Show me more</a></td>
    </tr>
  }
  </tbody>
</table>

<Offcanvas>
  <ul>
    <li>Partial class support and the code-behind file defined as a partial class.</li>
    <li>How CSS isolation scopes CSS to Razor components.</li>
    <li>How templated components can accept one or more UI templates as parameters.</li>
  </ul>
</Offcanvas>
