@page "/clientside/{Index:int}"

<PageTitle>Client-side C# | The Blazor Act</PageTitle>

<h3>@clientSideFeature?.Feature</h3>

<Pin InnerText="@clientSideFeature?.Description"></Pin>

<table class="table align-middle">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">How it works</th>
    </tr>
    </thead>
    <tbody>
    @for (var index = 0; index < clientSideFeature?.Details?.Count; index++)
    {
        var line = index + 1;
        <tr>
            <th scope="row">@line</th>
            <td>@GetDescription(index)</td>
        </tr>
    }
    </tbody>
</table>
<br/>
<a type="button" class="btn btn-outline-primary" href="/clientside">Go Back</a>