@page "/clientside"

<PageTitle>Client-side C# | The Blazor Act</PageTitle>

<h3>Writing client-side C# code</h3>

<Pin InnerText="The UI is rendered as HTML and CSS for wide browser support, including mobile browsers."></Pin>

<table class="table table-hover align-middle">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Feature</th>
      <th scope="col">Description</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
  @for (var index = 0; index < clientSideFeatures.Count; index++)
  {
    var row = index + 1;
    <tr>
      <th scope="row">@row</th>
      <td>@clientSideFeatures[index].Item1</td>
      <td>@clientSideFeatures[index].Item2</td>
      <td><a class="btn btn-link" href="#">Show me more</a></td>
    </tr>
  }
  </tbody>
</table>

<Offcanvas/>
