<div class="mt-5">
    <button class="btn btn-link" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar">What Blazor code will be shown here</button>
    
    <div class="offcanvas offcanvas-bottom" tabindex="-1" id="sidebar" aria-labelledby="sidebar-label">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="sidebar-label">Learn Blazor code</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body small">
        Here in this section I will learn:
        <div class="mt-2">
          @ChildContent
        </div>
      </div>
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}